<div class="back-btn">
    <a routerLink="/home">Home</a>
</div>
<div class="info-container">
    <p>
        Mit Xtract habe ich die Idee verfolgt, eine Kaffee-Extraktion visualisiert darzustellen. Die Vielzahl der
        variablen Parametern, welche bei der Brühung eine Rolle spielen, sollen bei der Simulation berücksichtigt
        werden. Keine Extraktion ist dieselbe. So generiert Xtract. auch bei jedem simulierten Kaffee eine andere,
        einzigartige Grafik.<br /><br />

        Bei der Erstellung des PoC (Proof of Concepts) habe ich sowohl die technische Seite der Lösung (das
        Programmieren), welche das eigentliche Projekt an sich darstellt, sowie an die physische Seite / das Medium,
        welche die Kaffeemaschine ist, gedacht. So habe ich nebst dem Programm eine Siebträgermaschine skizziert,
        modelliert und gerendert.<br /><br />

        Die Realisierung dieses Prototyps bestände darin, die entwickelte Software auf die modellierte Kaffeemaschine zu
        bringen und die Visualisierung auf dem runden Display auf der Brühgruppe, anzuzeigen. Weiter soll es in dem
        Endprodukt möglich sein, nach der Brühung die dabei entstandene Grafik abzuspeichern und mit anderen
        Nutzer:innen zu teilen. Eine “Galerie” der Grafiken ermöglicht es so, Extraktionen reproduzieren zu können, in
        dem diese angeklickt werden.
    </p>
    <br />
    <br />
    <a href="https://instagram.com/bonjourclaudio">@bonjourclaudio</a>
</div>