@import "../../styles.scss";

.back-btn {
    font-size: 1.4rem;
    text-decoration: underline;
    @media (max-width: $layout-breakpoint-small) {
        font-size: 1.2rem;
    }

    a {
        color: $primary;
    }

    margin-bottom: 10vh;
}

.info-container {
    width: 60vw;
    font-size: 1.4rem;

    @media (max-width: $layout-breakpoint-small) {
        font-size: 1.2rem;
    }
}
