@import "../../styles.scss";

.home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
        "title-bar title-bar title-bar title-bar title-bar title-bar title-bar title-bar title-bar info"
        ". . . . . . . . . ."
        "model model model model . visualisation visualisation visualisation visualisation ."
        "model model model model . visualisation visualisation visualisation visualisation ."
        "model model model model . visualisation visualisation visualisation visualisation ."
        "model model model model . . . . . ."
        "model model model model . form form form form ."
        "model model model model . form form form form ."
        "test test test test . form form form form ."
        "test test test test . . . . . .";

    @media (max-width: $layout-breakpoint-small) {
        display: flex;
        flex-wrap: wrap;
        height: 100% auto;

        .info {
            padding-bottom: 1vh;
            font-size: 1.2rem;
        }

        .title-bar {
            padding-bottom: 1vh;

            h2 {
                font-size: 1.2rem;
            }
        }

        .form {
            padding-bottom: 5vh;
            padding-top: 1vh;
        }
    }
}

.info {
    grid-area: info;
    text-align: right;
    font-size: 1.4rem;
    text-decoration: underline;

    a {
        color: $primary;
    }
}

.visualisation {
    grid-area: visualisation;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media (max-width: $layout-breakpoint-small) {
        width: 100%;
        height: 50vh;
    }
}

.title-bar {
    grid-area: title-bar;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: auto;
    z-index: 2;

    h2 {
        font-size: 1.4rem;
    }
}

.model {
    grid-area: model;
    display: flex;
    justify-content: center;
    align-items: center;

    canvas {
        height: 100%;
        width: 100%;
    }
}

.test {
    grid-area: test;

    @media (max-width: $layout-breakpoint-small) {
        width: 100%;
    }
}

.form {
    grid-area: form;

    @media (max-width: $layout-breakpoint-small) {
        width: 100%;
    }

    &__element {
        padding-bottom: 1rem;

        &__value {
            float: right;
        }
    }

    &__actions {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;

        &__reset {
        }

        &__submit {
        }
    }
}

.info-container {
    background-color: rgba($color: #000000, $alpha: 1);
    border: 1px solid $primary;
    &__element {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        border-bottom: 1px solid $primary;
        padding-top: 5px;
        padding-left: 3px;
        padding-right: 3px;

        &:nth-last-child(1) {
            border: none;
        }
    }
}

.model {
    &__image-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 80vh;
        overflow: auto;
        border: 1px solid $primary;

        &__elem {
            width: 100%;

            border-bottom: 1px solid $primary;

            &:nth-last-child(1) {
                border: none;
            }
        }
    }
}
